<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{css}}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-nomargin" data-hr-run="edity.theme.layouts.default">
        <a class="navbar-brand" href="#ToggleMenu" data-target="#wrapper" data-toggle="sidebar">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <div class="navbar-header navbar-nowrap">
            <a class="navbar-brand" href="~/">{{siteTitle}}</a>
        </div>
    </nav>

    <div class="navbar-shadow"></div>

    <div class="navbar-spacer"></div>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sidebar-with-navbar">
            <div class="mainTreeMenu" data-hr-controller="treeMenu" data-hr-config-urlroot="~/" data-hr-config-menu="{{pathBase}}/menus/mainMenu.json" data-hr-config-scrollelement="#sidebar-wrapper" data-hr-model-component="sidebarMenuComponent">
                <ul class="sidebarMenu" data-hr-model="childItems" data-hr-model-component="sidebarMenuComponent">
                    <template data-hr-component="sidebarMenuComponent">
                        <li class="folder">
                            <div class="item" data-hr-on-click="toggleMenuItem" data-hr-toggle="current" data-hr-class-on="currentFolder"><span data-hr-toggle="children" class="glyphicon" data-hr-class-on="glyphicon-folder-open" data-hr-class-off="glyphicon-folder-close"></span> {{name}}</div>
                            <div class="children" data-hr-model="children" data-hr-model-component="sidebarMenuComponent" data-hr-toggle="children" data-hr-class-on="expanded" data-hr-style-off="display:none;"></div>
                        </li>
                    </template>
                    <template data-hr-variant="link">
                        <li class="link">
                            <div class="mainBlock" data-hr-toggle="current" data-hr-class-on="currentLink">
                                <a href="{{urlRoot}}{{link}}" target="{{target}}">{{name}}</a>
                            </div>
                        </li>
                    </template>
                    <template data-hr-variant="root">
                        <div class="children" data-hr-model="children" data-hr-model-component="sidebarMenuComponent" data-hr-toggle="children" data-hr-class-on="expanded" data-hr-style-off="display:none;"></div>
                    </template>
                </ul>
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pageContent">
                        {{mainContent}}
                        <div class="footer"></div>
                    </div>
                </div>
                <div class="footer-padding"></div>
            </div>
        </div>
    </div>
    {{javascript}}
</body>

</html>