<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{css}}
</head>
<body>
    <div class="ed-editTools" data-hr-controller="edity-tools">
        <div data-hr-toggle="main" style="display:none;" data-hr-style-on="display:block;" data-hr-state="on">
            <ul data-editor-navmenu></ul>
        </div>

        <div class="ed-editTools-toolButton">
            <button class="btn btn-primary" data-hr-on-click="toggleTools">Tools</button>
        </div>
    </div>
    {{mainContent}}
    <script type="text/javascript">
        var editPageSettings = {
            baseUrl: "{{pathBase}}"
        };
    </script>
    {{javascript}}
</body>
</html>