<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{css}}
</head>
<body>
    <div class="container-fluid">
        <div id="edit-navbar-collapse" class="ed-editTools">
            <ul data-editor-navmenu></ul>
        </div>
        <div class="row">
            {{mainContent}}
        </div>
    </div>
    <script type="text/javascript">
        var editPageSettings = {
            baseUrl: "{{pathBase}}"
        };
    </script>
    {{javascript}}
</body>
</html>