<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{css}}
</head>
<body>
    <div class="ed-editTools {{editToolsBackground}}" data-hr-controller="edity-tools">
        <div data-hr-toggle="main" class="ed-editTools-main" data-hr-class-on="ed-editTools-main-on" data-hr-state="off">
            <ul data-editor-navmenu></ul>
        </div>

        <div class="ed-editTools-toolButton">
            <button class="btn btn-primary" data-hr-on-click="toggleTools"><span class="glyphicon glyphicon-pencil"></span></button>
        </div>
    </div>
    {{mainContent}}
    <script type="text/javascript">
        var editPageSettings = {
            baseUrl: "{{pathBase}}"
        };
    </script>
    {{javascript}}
</body>
</html>