<!-- commit Modal -->
<template data-hr-component="CommitNavItem">
    <li><a data-toggle="modal" data-hr-on-click="commit" href="#Commit">Commit</a></li>
</template>
<div class="modal fade" id="commitModal" data-hr-controller="commit" tabindex="-1" role="dialog" aria-labelledby="commitModalLabel" data-hr-toggle="dialog" data-hr-run="node_modules/editymceditface.client/Views/editComponents/commit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="commitModalLabel">Commit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" data-hr-toggle="load" data-hr-style-off="display:none;">
                <div class="center">
                    <div class="load-linebar center-block">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <p>Working...</p>
                </div>
            </div>
            <form data-hr-on-submit="commit" data-hr-model="commit" data-hr-toggle="main" data-hr-style-off="display:none;">
                <div class="modal-body">
                    <p data-hr-model="message" data-hr-toggle="message" data-hr-style-off="display:none;">{{this}}</p>
                    <label>Changed Files</label>
                    <ol data-hr-model="changedFiles" data-hr-model-component="commitComponent">
                        <template data-hr-component="commitComponent">
                            <li>{{filePath}}</li>
                        </template>
                        <template data-hr-component="commitComponent" data-hr-variant="Added">
                            <li style="color:green;">{{filePath}} <span class="pull-right">Added</span></li>
                        </template>
                        <template data-hr-component="commitComponent" data-hr-variant="Removed">
                            <li style="color:darkred;">{{filePath}} <span class="pull-right">Deleted</span></li>
                        </template>
                        <template data-hr-component="commitComponent" data-hr-variant="Modified">
                            <li style="color:blue;">{{filePath}} <span class="pull-right">Modified</span></li>
                        </template>
                    </ol>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="3" name="message"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Commit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            <div class="modal-body" data-hr-toggle="error" data-hr-style-off="display:none;">
                <p class="center">
                    Cannot get uncommitted changes. Please try again later.
                </p>
            </div>
            <div class="modal-body" data-hr-toggle="noChanges" data-hr-style-off="display:none;">
                <p class="center">
                    No changes to commit.
                </p>
            </div>
        </div>
    </div>
</div>
{{mainContent}}