<!-- compile Modal -->
<template data-hr-component="CompileNavItem">
    <li>
        <a data-toggle="modal" data-hr-on-click="compile" href="#Compile">Publish</a>
        <div class="load-linebar load-linebar-inverse startHidden" data-hr-toggle="load" data-hr-style-on="display:block" data-hr-class-on="fadeIn" data-hr-class-off="fadeOut" data-hr-class-idle="idle">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </li>
</template>
<div class="modal fade" id="compileModal" data-hr-controller="compile" tabindex="-1" role="dialog" aria-labelledby="compileModalLabel" data-hr-toggle="dialog" data-hr-run="node_modules/editymceditface.client/Views/editComponents/compile">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="compileModalLabel">Publish</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div data-hr-toggle="start" data-hr-style-off="display:none;">
                <div class="modal-body">
                    <h4 data-hr-model="info">Unpublished Changes - {{behindBy}}</h4>
                    <table class="table table-bordered" style="word-break: break-word;">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Author</th>
                                <th>When</th>
                            </tr>
                        </thead>
                        <tbody data-hr-model="changes" data-hr-model-component="compileModal.HistoryTable"></tbody>
                    </table>
                    <template data-hr-component="compileModal.HistoryTable">
                        <table>
                            <tr>
                                <td>{{message}}</td>
                                <td>{{name}}</td>
                                <td>{{when}}</td>
                            </tr>
                        </table>
                    </template>
                    <p>Press Publish to compile this website.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-hr-on-click="runCompiler">Publish</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div data-hr-toggle="compiling" data-hr-style-off="display:none;">
                <div class="modal-body">
                    <div class="progress" data-hr-view="progress">
                        <template>
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{this}}" aria-valuemin="0" aria-valuemax="100" data-hr-handle="width">
                                <span class="sr-only">{{this}}% Complete</span>
                            </div>
                        </template>
                    </div>
                    <div data-hr-view="fileProgress" data-hr-toggle="fileProgress" style="display:none;" data-hr-style-on="display:block;">
                        <p>Compiled {{currentFile}} files of {{totalFiles}}</p>
                    </div>
                    <br />
                    <div class="center">
                        <div class="load-linebar center-block">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-hr-view="messages" class="modal-body">
                <template>
                    <p>{{this}}</p>
                </template>
            </div>
            <div data-hr-toggle="success" data-hr-style-off="display:none;">
                <div class="modal-body">
                    <p data-hr-model="results">
                        Website compiled and published.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
            <div data-hr-toggle="fail" data-hr-style-off="display:none;">
                <div class="modal-body">
                    <p>
                        An error occured while compiling the website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{mainContent}}
