<!-- Branch Modal -->
<template data-hr-component="DraftNavItem">
    <li>
        <a data-toggle="modal" data-hr-on-click="open" href="#Draft">Set Draft</a>
        <div class="load-linebar load-linebar-inverse startHidden" data-hr-toggle="load" data-hr-style-on="display:block" data-hr-class-on="fadeIn" data-hr-class-off="fadeOut" data-hr-class-idle="idle">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </li>
</template>
<div class="modal fade" data-hr-controller="draft" tabindex="-1" role="dialog" aria-labelledby="DraftModalLabel" data-hr-toggle="dialog" data-hr-run="node_modules/editymceditface.client/Views/editComponents/draft">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="DraftModalLabel">Draft Page</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" data-hr-toggle="draftLoad" data-hr-style-off="display:none;">
                <div class="center">
                    <div class="load-linebar center-block">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <p>Working...</p>
                </div>
            </div>

            <div class="modal-body" data-hr-toggle="draftMain" data-hr-style-off="display:none;">
                <div data-hr-model="currentPageInfo">
                    <h2>Current Page</h2>
                    <h3>{{{title}}}</h3>
                    <p>Status: {{status}}</p>
                    <p>Last Drafted On: {{lastUpdate}}</p>
                </div>
                <button class="btn btn-primary" href="#SendToDraft" data-hr-on-click="draft">Click to Draft Current Page</button>
                <h2>All Draftable Items</h2>
                <div class="table-responsive" data-hr-controller="draftTable">
                    <div data-hr-toggle="load" data-hr-style-off="display:none;">
                        <div class="center">
                            <div class="load-linebar center-block">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                            <p>Working...</p>
                        </div>
                    </div>

                    <div data-hr-toggle="main" data-hr-style-off="display:none;">
                        <div style="margin-bottom:1em;" data-hr-controller="draftSearch">
                            <form data-hr-on-submit="submit" data-hr-form="input">
                                <span data-hr-form-end></span>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                        <table class="table table-bordered table-hover" style="word-break: break-word;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Draft</th>
                                </tr>
                            </thead>
                            <tbody data-hr-model="listing" data-hr-model-component="mainTableBody"></tbody>
                        </table>
                        <template data-hr-component="mainTableBody">
                            <table>
                                <tr>
                                    <td>{{{title}}}<br /><a href="{{pathBase}}{{file}}">{{file}}</a></td>
                                    <td data-hr-view="draftStatus">{{{{status}}}}</td>
                                    <td>
                                        <button data-hr-on-click="draft" class="btn btn-default">Draft</button>
                                    </td>
                                </tr>
                            </table>
                        </template>

                        <div data-hr-controller="draftPageNumbers" class="clearfix">
                            <div data-hr-model="totals">Items {{itemStart}} - {{itemEnd}} of {{total}}</div>
                            <ul class="pagination float-left">
                                <li data-hr-toggle="first" aria-label="First" data-hr-on-click="pageFirst"
                                    data-hr-class-off="disabled" class="page-item">
                                    <a href="#First" class="page-link">
                                        &lt;&lt;
                                    </a>
                                </li>
                                <li data-hr-toggle="previous" aria-label="Previous" data-hr-on-click="pagePrevious"
                                    data-hr-class-off="disabled" class="page-item">
                                    <a href="#Previous" class="page-link">
                                        &lt;
                                    </a>
                                </li>
                                <li data-hr-toggle="page0" data-hr-model="page0" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page0" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="page1" data-hr-model="page1" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page1" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="page2" data-hr-model="page2" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page2" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="page3" data-hr-model="page3" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page3" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="page4" data-hr-model="page4" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page4" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="page5" data-hr-model="page5" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page5" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="page6" data-hr-model="page6" data-hr-class-active="active" data-hr-style-off="display:none;" data-hr-on-click="page6" class="page-item">
                                    <a href="#Page" class="page-link">{{pageNum}}</a>
                                </li>
                                <li data-hr-toggle="next" aria-label="Next" data-hr-on-click="pageNext" data-hr-class-off="disabled" class="page-item">
                                    <a href="#Next" class="page-link">
                                        &gt;
                                    </a>
                                </li>
                                <li data-hr-toggle="last" aria-label="Last" data-hr-on-click="pageLast" data-hr-class-off="disabled" class="page-item">
                                    <a href="#Last" class="page-link">
                                        &gt;&gt;
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <form class="form-inline float-left" data-hr-model="itemsPerPage"
                                  data-hr-on-change="itemsPerPageChanged">
                                <div class="form-group">
                                    <label for="itemsPerPage">Items per Page</label>
                                    <select name="itemsPerPage" class="form-control">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <button class="btn btn-primary" href="#SendAllToDraft" data-hr-on-click="draftAll">Click to Draft All Items</button>
                    </div>
                </div>
            </div>

            <div class="modal-body" data-hr-toggle="draftError" data-hr-style-off="display:none;">
                <p class="center">
                    Cannot get draft information. Please try again later.
                </p>
            </div>
        </div>
    </div>
</div>
{{mainContent}}