.treemenu-editor-folder > .treemenu-editor,
.treemenu-editor-link > .treemenu-editor{
    display:none;
    float:right;
    position:absolute;
    right:0px;
    background-color: black;
    padding: 2px;
    border-radius: 7px;
    bottom: 0px;
}

.treemenu-editor-folder:hover > .treemenu-editor,
.treemenu-editor-link:hover > .treemenu-editor{
    display:inline;
}

.treemenu-editor > .treemenu-editor-rootcontrols{
    background-color: black;
    padding: 2px;
    border-radius: 7px;
    display:none;
}

.treemenu-editor:hover > .treemenu-editor-rootcontrols{
    display:block;
}

.treemenu-editor-link, .treemenu-editor-folder{
    position:relative;
}

.treemenu-editor .drop-above{
    border-top: 2px solid black;
}

.treemenu-editor .drop-inside {
    border: 2px inset;
}

.treemenu-editor .drop-below {
    border-bottom: 2px solid black;
}