<template data-hr-component="SettingsNavItem">
    <li><a data-toggle="modal" data-hr-on-click="open" href="#Settings">Settings</a></li>
</template>

<div class="modal fade" data-hr-controller="deletePageConfirm" tabindex="-1" role="dialog" aria-labelledby="deletePageConfirmLabel" data-hr-toggle="dialog" data-hr-run="edity.core.edit.components.settings">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-hr-model="info" data-hr-model-src="{{deletePageUrl}}">
            <div class="modal-header">
                <h4 class="modal-title" id="deletePageConfirmLabel">Delete {{this}}?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{this}}?</p>
                <p>This will delete the page, its settings and any uploaded content to this page.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-hr-on-click="deletePage">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settingsModal" data-hr-controller="pageSettings" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" data-hr-toggle="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="settingsModalLabel">{{docLink}} Settings</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" data-hr-toggle="load" data-hr-style-off="display:none;">
                <div class="center">
                    <div class="load-linebar center-block">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <p>Working...</p>
                </div>
            </div>
            <form data-hr-toggle="main" data-hr-style-off="display:none;" data-hr-model="settings" data-hr-model-src="{{pageSettingsUrl}}{{docLink}}" data-hr-on-submit="submit">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="layout">Layout</label>
                        <input type="text" name="layout" class="form-control" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="visible" value="true"> Visible
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-danger" data-hr-on-click="deletePage">Delete Page</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            <div data-hr-toggle="error" data-hr-style-off="display:none;">
                <div class="modal-body">
                    <p>Could not load page settings</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-hr-on-click="tryAgain">Try Again</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{mainContent}}