<!-- source Modal -->
<template data-hr-component="EditSourceNavItem">
    <li><a data-toggle="modal" data-hr-on-click="edit" href="#EditSource">Edit Source</a></li>
</template>
<div class="modal fade" id="sourceModal" data-hr-controller="editSource" tabindex="-1" role="dialog" aria-labelledby="sourceModalLabel" data-hr-toggle="dialog" data-hr-run="node_modules/editymceditface.client/Views/editComponents/source">
    <div class="modal-dialog sourceEditorModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sourceModalLabel">{{docLink}} Source</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form data-hr-on-submit="apply" data-hr-model="source">
                <div class="modal-body">
                    <textarea name="source" id="editSourceTextarea"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Apply Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{mainContent}}