<template data-hr-component="SyncNavItem">
    <li>
        <a data-toggle="modal" data-hr-on-click="sync" href="#Sync">Sync</a>
        <div class="load-linebar load-linebar-inverse startHidden" data-hr-toggle="load" data-hr-style-on="display:block" data-hr-class-on="fadeIn" data-hr-class-off="fadeOut" data-hr-class-idle="idle">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </li>
</template>

<!-- Pull Modal -->
<div class="modal fade" id="syncModal" data-hr-controller="syncpull" tabindex="-1" role="dialog" aria-labelledby="syncPullModalLabel" data-hr-toggle="dialog" data-hr-run="edity.core.edit.components.sync">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="syncPullModalLabel">Pull Changes</h4>
            </div>
            <div class="modal-body" data-hr-toggle="load" data-hr-style-off="display:none;">
                <div class="center">
                    <div class="load-linebar center-block">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <p>Working...</p>
                </div>
            </div>
            <div data-hr-toggle="main" data-hr-style-off="display:none;">
                <div class="modal-body" data-hr-model="changes">
                    <p data-hr-toggle="message" data-hr-style-off="display:none;">{{message}}</p>
                    <h4>Incoming Changes - {{behindBy}}</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Author</th>
                                <th>When</th>
                            </tr>
                        </thead>
                        <tbody data-hr-model="history" data-hr-model-component="syncModal.HistoryTable"></tbody>
                    </table>
                    <button type="button" class="btn btn-default" data-hr-on-click="performAction">Pull</button>
                </div>
            </div>
            <div class="modal-body" data-hr-toggle="cantSync" data-hr-style-off="display:none;">
                <p>Can't sync with uncommitted changes. Please commit first before trying to sync.</p>
            </div>
            <div class="modal-body" data-hr-toggle="error" data-hr-style-off="display:none;">
                <p>Can't contact server. Please try again later.</p>
            </div>
            <div class="modal-body" data-hr-toggle="noChanges" data-hr-style-off="display:none;">
                <p class="center">
                    No changes to sync.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Push Modal -->
<div class="modal fade" id="syncModal" data-hr-controller="syncpush" tabindex="-1" role="dialog" aria-labelledby="syncPushModalLabel" data-hr-toggle="dialog" data-hr-run="edity.core.edit.components.sync">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="syncPushModalLabel">Push Changes</h4>
            </div>
            <div class="modal-body" data-hr-toggle="load" data-hr-style-off="display:none;">
                <div class="center">
                    <div class="load-linebar center-block">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <p>Working...</p>
                </div>
            </div>
            <div data-hr-toggle="main" data-hr-style-off="display:none;">
                <div class="modal-body" data-hr-model="changes">
                    <p data-hr-toggle="message" data-hr-style-off="display:none;">{{message}}</p>
                    <h4>Outgoing Changes - {{aheadBy}}</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Author</th>
                                <th>When</th>
                            </tr>
                        </thead>
                        <tbody data-hr-model="history" data-hr-model-component="syncModal.HistoryTable"></tbody>
                    </table>
                    <button type="button" class="btn btn-default" data-hr-on-click="performAction">Push</button>
                </div>
            </div>
            <div class="modal-body" data-hr-toggle="cantSync" data-hr-style-off="display:none;">
                <p>Can't sync with uncommitted changes. Please commit first before trying to sync.</p>
            </div>
            <div class="modal-body" data-hr-toggle="error" data-hr-style-off="display:none;">
                <p>Can't contact server. Please try again later.</p>
            </div>
            <div class="modal-body" data-hr-toggle="noChanges" data-hr-style-off="display:none;">
                <p class="center">
                    No changes to sync.
                </p>
            </div>
        </div>
    </div>
</div>
<template data-hr-component="syncModal.HistoryTable">
    <table>
        <tr>
            <td>{{message}}</td>
            <td>{{name}}</td>
            <td>{{whenStr}}</td>
        </tr>
    </table>
</template>
{{mainContent}}