$navbar-height: 56px !default;
$navbar-expanded-height: 101px !default;
$navbar-box-shadow: $box-shadow !default;

.navbar-inverse {
    border-radius: 0px;
    background-image: none;
}

.navbar-spacer {
    height: $navbar-expanded-height;
}

.navbar-spacer-short {
    height: $navbar-height;
}

.navbar-shadow {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height: $navbar-expanded-height;
    box-shadow: $navbar-box-shadow;
}

.navbar-shadow-short {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    height: $navbar-height;
    box-shadow: $navbar-box-shadow;
}

.navbar-nomargin {
    margin-bottom: 0px;
}

#sidebar-wrapper.sidebar-with-navbar {
    height: calc(100% #{"-"} $navbar-expanded-height);
}

#sidebar-wrapper.sidebar-with-navbar-short {
    height: calc(100% #{"-"} $navbar-height);
}

@media(min-width:1200px) {
    .container {
        max-width: 100%;
    }
}

.footer-padding {
    height: 15px;
}

.navbar-nowrap {
    overflow: hidden;
    white-space: nowrap;
}

@media(min-width:768px) {
    .navbar-spacer {
        height: $navbar-height;
    }

    .navbar-shadow {
        height: $navbar-height;
    }

    #sidebar-wrapper.sidebar-with-navbar {
        height: calc(100% #{"-"} $navbar-height);
    }
}

.pageContent img.fitImage {
    max-width: 100%;
}